<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <h4 class="text-center">管理者ログイン</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="newform">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "メールアドレス" %>
        </div>
        <div class="newform"> 
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: "パスワード"%>
        </div>
        <br>
        <%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block btn-signin " %>
      <% end %>
  </div>
</div>