<section class="text-black text-center">
  <div class="container">
    <div>
      <h3 class="text-secondary">Services</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span class="service-icon img-circle center-block">
          <i class="fas fa-search-location icon-1" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>サウナを検索</strong>
        </h4>
        <p class="text-left">キーワードの検索はもちろん、ジャンルや都道府県、現在地から検索することができます。サウナ飯検索も魅力の一つです</p>
      </div>

      <div class="col-md-4">
        <span class="service-icon img-circle center-block">
          <i class="far fa-comments icon-1" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>口コミを見る</strong>
        </h4>
        <p class="text-left">サウナに対してのレビューやコメントいいね、ランキング機能が充実しているので生の声をすぐ表示することができます。</p>
      </div>
      <div class="col-md-4">
        <span class="service-icon img-circle center-block">
          <i class="far fa-handshake icon-1" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>サウナ好きと繋がる</strong>
        </h4>
        <p class="text-left">投稿されたレビューにはいいね！やコメントをすることができます。さらにフォロー機能、DM機能もあるのでサウナーと繋がることもできます</p>
      </div>
    </div>
  </div>
</section>

<div class="box">
  <div class="row">
    <div class="col-md-4">
      <div class="box-part text-center">      
        <span class="title">
          <i class="fas fa-hot-tub" aria-hidden="true"></i>
          PV数ランキング
          <i class="fas fa-eye" aria-hidden="true"></i>
        </span>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="text-center">順位</th>
              <th class="text-center">サウナ</th>
              <th class="text-center">PV数</th>
            </tr>
          </thead>
          <tbody>
            <% @saunas_pv.each.with_index(1) do |sauna, index| %>
            <tr>
              <td class="text-center"><%= index %></td>
              <td class="text-center">
              <%= link_to user_sauna_path(sauna) do %>
                <%= sauna.name %>
              <% end %>
              </td>
              <td class="text-center"><%= sauna.impressions_count %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box-part text-center">
        <span class="title">
          <i class="fas fa-running" aria-hidden="true"></i>
          イキタイ数ランキング
          <i class="fas fa-rocket" aria-hidden="true"></i>
        </span>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="text-center">順位</th>
              <th class="text-center">サウナ</th>
              <th class="text-center">イキタイ数</th>
            </tr>
          </thead>
          <tbody>
            <% @saunas_ikitai.each.with_index(1) do |sauna, index| %>
              <tr>
                <td class="text-center"><%= index %></td>
                <td class="text-center">
                  <%= link_to user_sauna_path(sauna) do %>
                    <%= sauna.name %>
                  <% end %>
                </td>
                <td class="text-center"><%= sauna.ikitais.size %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box-part text-center">
        <span class="title">
          <i class="fas fa-bone" aria-hidden="true"></i>
          サウナ飯ランキング
          <i class="fas fa-utensils" aria-hidden="true"></i>
        </span>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="text-center">順位</th>
              <th class="text-center">サウナ</th>
              <th class="text-center">サウナ飯数</th>
            </tr>
          </thead>
          <tbody>
            <% @saunas_food.each.with_index(1) do |sauna, index| %>
            <tr>
              <td class="text-center"><%= index %></td>
              <td class="text-center">
                <%= link_to user_sauna_path(sauna) do %>
                  <%= sauna.name %>
                <% end %>
              </td>
              <td class="text-center"><%= sauna.foods.size %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h3>
    <i class="fas fa-map-marker-alt" aria-hidden="true">現在地から探す</i>
  </h3>
  <div id="map" class="map-style"></div>
  <script>
    let map
    let marker = [];
    let infoWindow = [];
    let markerData = gon.saunas;

    function initMap() {
      
        if (!navigator.geolocation) {
          alert("Geolocation not supported");
          return;
        }

      // 位置情報を取得
      navigator.geolocation.getCurrentPosition(
        function (position) {
          console.log(position.coords.latitude)
          console.log(position.coords.longitude)
          LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          // 取得した位置情報を中心に表示
          map = new google.maps.Map(document.getElementById("map"), {
            center: LatLng,
            zoom: 13
          });
          for (var i = 0; i < markerData.length; i++) {
            let id = markerData[i]["id"]

            // 各地点にマーカーを立てる
            markerLatLng = new google.maps.LatLng({
              lat: markerData[i]["latitude"],
              lng: markerData[i]["longitude"]
            });
            marker[i] = new google.maps.Marker({
              position: markerLatLng,
              map: map
            });

            // 各地点の吹き出しを作成
            infoWindow[i] = new google.maps.InfoWindow({
              // 吹き出しに表示する内容
              content: `<a href="/user/saunas/${id}">サウナ詳細を見る</a>` + markerData[i]["name"]
            });

            // マーカーにクリックイベントを追加
            markerEvent(i);
          }
        },
      );
    }
    // マーカーをクリックすると吹き出しが表示される
    function markerEvent(i) {
      marker[i].addListener("click", function () {
        infoWindow[i].open(map, marker[i]);
      });
    }
  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API"] %>&callback=initMap"
    async defer>
  </script>
</div>


