<h2>レビュー 一覧<h2>
  <% if @reviews.present?%>
    <% @reviews.each do |review|%>
      <div class="caption">
        <p class="score"><%= review.score %>点</p>
        <%= attachment_image_tag review.user, :image, fallback: "images/no-image.png", size: "50x50"%>
        <%= link_to review.user.name, user_user_path(review.user)%>
        <%= review.user.sex %>
        <p><%= link_to review.title, user_sauna_review_path(review.sauna, review) %></p>
        <%= review.body %>
      </div>
    <%= link_to user_sauna_review_path(review.sauna, review) do %>
      <p>コメント<p>
      <%=review.comments.count %>
    <% end %>
    <% end %>
  <% else %>
        <p class="centered">レビューは存在しません</p>    
  <% end %>