<div class="container">
  <div class="card card-container2">
    <h4 class="text-center"><%=@sauna.name %></h4>
    <div class="score">レビュー評価平均
      <%= @sauna.average_score %>点
    </div>
    <div class="row" style="position: relative;">
      <div class="twiiter-share">
        <%= link_to "https://twitter.com/share?url=#{ request.url }&text=#{ @sauna.name }を、Twitterでみんなに広めよう！", class:
      'btn btn-default', data: { show_count: false }, title: 'Twitter', target: '_blank' do %>
        <i class="fab fa-twitter" aria-hidden='true' style='color: #3399FF;'>Twitterでシェア</i>
        <% end %>
      </div>
      <div class="ikitai-button" id="ikitaibutton_<%= @sauna.id %>">
        <%= render "user/saunas/ikitaibutton", sauna: @sauna %>
      </div>
      <div class="sauna-show-image">
        <%= attachment_image_tag @sauna, :image, size: "250x300",fallback: 'no-image.png', onClick: "$('.img_field').click()", class:
				'center-block img-thumbnail img-responsive img_prev'%>
      </div>
      <ul class="nav nav-tabs nav-justified">
        <li role='presentation'>
          <%= link_to "サウナ詳細", user_sauna_path(@sauna) %>
        </li>
        <li role='presentation'>
          <%= link_to  '地図', user_sauna_map_path(@sauna) %>
        </li>
        <li role='presentation'>
          <%= link_to  'レビュー投稿', new_user_sauna_review_path(@sauna) %>
        </li>
        <li role='presentation'>
          <%= link_to  'サウナ飯登録', new_user_sauna_food_path(@sauna) %>
        </li>
        <li role='presentation'>
          <%= link_to "#{ @sauna.foods.count }サウナ飯", user_sauna_foods_path(@sauna) %>
        </li>
      </ul>
    </div>
    <h4 class="text-center">レビュー 一覧<h4>
    <% if @reviews.present?%>
      <% @reviews.each do |review|%>
        <div class="thumbnail thumbnail_fix">
          <div class="caption">
            <p class="score_index"><%= review.score %>点</p>
            <span>投稿者:
              <%= link_to review.user.name, user_user_path(review.user)%>
              <%= review.user.sex %>
            </span>
            <p>タイトル：
              <%= link_to review.title, user_sauna_review_path(review.sauna, review) %>
            </p>
            <p>本文：
              <%= review.body %>
            </p>
            <% if user_signed_in? %>
              <span id="likebutton_<%= review.id %>">
                <%= render "user/reviews/likebutton", review: review %>
              </span>
              <%= link_to user_sauna_review_path(review.sauna, review) do %>
                <i class="fas fa-comment-dots">コメント
                  <%= review.comments.size %>
                </i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h4 class="text-center">レビューは存在しません</h4>    
    <% end %>
  </div>
</div>

<nav class="pagination1">
  <%= paginate @reviews %>
</nav>
