<div class="container">
  <div class="card card-container">
    <h4 class="text-center">レビュー登録</h4>
    <%= form_with model: @review, url: user_sauna_reviews_path, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="newform">
        <%=f.label :title, "タイトル" %>
        <span>
          <%= f.text_field :title, placeholder: "例) 水風呂とサウナのコラボレーションが最高でした", autofocus: true, class: "form-control"%>
        </span>
      </div>

      <div class="newform">
        <%=f.label :body, "本文" %>
        <span>
          <%= f.text_area :body, placeholder: "例) サウナ仲間で行ってきました。休日でしたが人も少なく快適でした", class: "form-control", style: "height: 200px;"%>
        </span>
      </div>

      <div class="newform">
        <%=f.label :score, "点数" %>
        <span>
          <%= f.select :score, options_for_select(1..100), { prompt: "選択してください" }, class: "form-control"%>
        </span>
      </div>

      <div class="newform">
        <%= f.submit "投稿", class: "btn btn-success btn-lg btn-block" %>
      </div>
    <% end %>
  </div>
</div>