<div class="container">
  <div class="card card-container">
    <h4 class="text-center">プロフィール編集</h4>
    <%= form_with(model:@user, url:admin_user_path(@user), local: true ,method: :patch) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="newform">
        <%= f.file_field :image, class: 'img_field', style: 'display:none;'%>
        <%= attachment_image_tag @user, :image, size: "100x100",fallback: 'no-image.png', onClick: "$('.img_field').click()", class:
      'center-block img-thumbnail img-responsive img_prev'%>
      </div>
      <div class="newform">
        <%= f.label :name, "氏名"%>
        <span>
          <%= f.text_field :name, autofocus: true, placeholder: "例) 阿部 優", autocomplete: "name", class: "form-control"%>
        </span>
      </div>
      <div class="newform">
        <%= f.label :introduction, "自己紹介文"%>
        <span>
          <%= f.text_area :introduction, placeholder: "例) 好きなサウナはかるまるです。", autocomplete: "introduction", class: "form-control"%>
        </span>
      </div>
      <div class="newform">
        <%= f.label :postcode, "郵便番号"%>
        <span>
          <%= f.text_field :postcode, placeholder: "例) 222-8100", autofocus: true, autocomplete: "postcode", class: "form-control"%>
        </span>
      </div>
      <div class="newform">
        <%= f.label :prefecture_code, "都道府県"%>
        <span>
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: "選択してください" }, class: "form-control" %>
        </span>
      </div>
      <div class="newform">
        <%= f.label :address_city, "市区町村"%>
        <span>
          <%= f.text_field :address_city, placeholder: "例) 品川区", autocomplete: "address_city", class: "form-control"%>
        </span>
      </div>
      <div class="newform">
        <%= f.label :address_street, "番地"%>
        <span>
          <%= f.text_field :address_street, placeholder: "例) 西五反田2-3-4", autocomplete: "address_street", class: "form-control"%>
        </span>
      </div>
      <div class="newform">
        <%= f.label :address_building, "建物"%>
        <span>
          <%= f.text_field :address_building, placeholder: "例) ライオンズマンション 5号", autocomplete: "address_building", class: "form-control"%>
        </span>
      </div>
      <div class="newform">
        <%= f.label :email, "メールアドレス"%>
        <span>
          <%= f.email_field :email, placeholder: "例) azx@abc", autocomplete: "email", class: "form-control"%>
        </span>
      </div>

      <div class="newform">
        <%= f.label :email, "メールアドレス"%>
        <span>
          <%= f.email_field :email, placeholder: "例) azx@abc", autocomplete: "email", class: "form-control"%>
        </span>
      </div>

      <div class="newform">
        <%= label_tag :会員ステータス %>
        <%= f.label :is_deleted, "退会済"%>
        <%= f.radio_button :is_deleted, '退会済', checked: true %>
        <%= f.label :is_deleted, "有効"%>
        <%= f.radio_button :is_deleted, '有効' %>
      </div>
      
      <div class="newform">
        <%= f.submit "編集内容を保存する", class: "btn btn-success btn btn-block" %>
      </div>
    <% end %>
  </div>
</div>