<div class="container">
  <div class="card card-container">
    <h4 class="text-center">サウナ情報編集</h4>
    <%= form_with model: @sauna, url: user_sauna_path(@sauna), local: true, method: :patch do |f| %>
      <div class="newform">
        <%= f.file_field :image, class: 'img_field', style: 'display:none;'%>
        <%= attachment_image_tag @sauna, :image, size: "150x150",fallback: 'no-image.png', onClick: "$('.img_field').click()", class:
        'center-block img-thumbnail img-responsive img_prev'%>
      </div>

      <div class="newform">
        <%=f.label :name, "サウナ名" %>
        <span>
          <%=f.text_field :name, placeholder: "例 天空のアジトマルシンスパ", autofocus: true, class: "form-control" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :postcode, "郵便番号" %>
        <span>
          <%=f.text_field :postcode, placeholder: "例 2221222", class: "form-control" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :prefecture, "都道府県" %>
        <span class="label.label-default">
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: "選択してください" }, class: "form-control" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :address_city, "市区町村" %>
        <span>
          <%=f.text_field :address_city, placeholder: "例 大田区", class: "form-control" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :address_street, "番地" %>
        <span>
          <%=f.text_field :address_street, placeholder: "例 4-5-8", class: "form-control" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :address_building, "建物" %>
        <span>
          <%=f.text_field :address_building, placeholder: "例 梅田スカイビル39・40F・屋上", class: "form-control" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :introduction, "紹介文" %>
        <span>
          <%=f.text_area :introduction, placeholder: "例 国内最大級のサウナ施設でととのいスポットも充実しています", class: "form-control", style: "height: 200px;" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :sauna_temperature, "サウナ室温度" %>
        <span>
          <%=f.text_field :sauna_temperature, placeholder: "例 100度", class: "form-control" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :water_temperature, "水風呂温度" %>
          <span>
            <%=f.text_field :water_temperature, placeholder: "例 18度", class: "form-control" %>
          </span>
      </div>

      <div class="newform">
        <%=f.label :genre_ids, "ジャンル機能" %>
        <span>
          <% Genre.all.each do |genre| %>
            <%= f.check_box :genre_ids, { multiple: true, checked: @sauna.genres.find_by(id: genre.id).present?, include_hidden: false }, genre[:id] %>
            <label class="form-check-label">
              <%= genre.name %>
            </label>
          <% end %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :business_hour, "営業時間" %>
        <span>
          <%=f.text_area :business_hour, placeholder: "例 08:00～22:30（最終入場22:00）", class: "form-control", style: "height: 100px;" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :tel, "電話番号" %>
        <span>
          <%=f.text_field :tel, placeholder: "例 07-4444-2133", class: "form-control" %>
        </span>
      </div>

      <div class="newform">
        <%=f.label :home_page, "ホームページ" %>
        <span>
          <%=f.text_area :home_page, placeholder: "例 https://www.totonou.sauna.co.jp/", class: "form-control" %>
        </span>
      </div>

      <div class="newform">
        <%=f.submit "保存", class: "btn btn-success btn-lg btn-block" %>
      </div>
    <% end %>
  </div>
</div>