<div class="container">
  <div class="card card-container2">
  <h4 class="text-center"><%=@sauna.name %></h4>
    <div class="score">レビュー評価平均
      <%= @sauna.average_score %>点
    </div>
  <div class="pull-right" id="ikitaibutton_<%= @sauna.id %>"><%= render "user/saunas/ikitaibutton", sauna: @sauna %></div>
  <%= link_to "https://twitter.com/share?url=#{ request.url }&text=#{ @sauna.name }を、Twitterでみんなに広めよう！", class:
  'btn btn-default margin-left--10px', data: { show_count: false }, title: 'Twitter', target: '_blank' do %>
  <i class="fab fa-twitter" aria-hidden='true' style='color: #3399FF;'>Twitterでシェア</i>
  <% end %>
    <div class="row">
    <%= attachment_image_tag @sauna, :image, size: "250x300",fallback: 'no-image.png', onClick: "$('.img_field').click()", class:
				'center-block img-thumbnail img-responsive img_prev'%>
      <ul class="nav nav-tabs nav-justified">
        <li role='presentation'>
          <%= link_to "サウナ詳細", user_sauna_path(@sauna) %>
        </li>
        <li role='presentation'>
          <%= link_to "#{ @sauna.reviews.count }レビュー", user_sauna_reviews_path(@sauna) %>
        </li>
        <li role='presentation'>
          <%= link_to  'レビュー投稿', new_user_sauna_review_path(@sauna) %>
        </li>
        <li role='presentation'>
          <%= link_to  '地図', user_sauna_map_path(@sauna) %>
        </li>
        <li role='presentation'>
          <%= link_to  'サウナ飯登録', new_user_sauna_food_path(@sauna) %>
        </li>
        <li role='presentation'>
          <%= link_to "#{ @sauna.foods.count }サウナ飯", user_sauna_foods_path(@sauna) %>
        </li>
      </ul>
    </div>
    <div class="table-responsive table-sauna">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="active">地名・施設名</th>
            <td><%= @sauna.name %></td>
          </tr>

          <tr>
            <th class="active">ジャンル</th>
            <td></td>
          </tr>

          <tr>
            <th class="active">郵便番号</th>
            <td><%= @sauna.postcode %></td>
          </tr>

          <tr>
            <th class="active">都道府県</th>
            <td><%= @sauna.prefecture_code %></td>
          </tr>

          <tr>
            <th class="active">市区町村</th>
            <td><%= @sauna.address_city%></td>
          </tr>

          <tr>
            <th class="active">番地</th>
            <td><%= @sauna.address_street %></td>
          </tr>

          <tr>
            <th class="active">建物</th>
            <td><%= @sauna.address_building %></td>
          </tr>

          <tr>
            <th class="active">紹介文</th>
            <td><%= @sauna.introduction %></td>
          </tr>

          <tr>
            <th class="active">サウナ室温度</th>
            <td><%= @sauna.sauna_temperature %></td>
          </tr>

          <tr>
            <td class="active">水風呂温度</td>
            <td><%= @sauna.water_temperature%></td>
          </tr>
          
          <tr>
            <th class="active">営業時間</th>
            <td><%= @sauna.business_hour %></td>
          </tr>

          <tr>
            <th class="active">電話番号</th>
            <td><%= @sauna.tel %></td>
          </tr>

          <tr>
            <th class="active">ホームページ</th>
            <td><%= @sauna.home_page %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if @sauna.user == current_user %>
      <%= link_to "編集", edit_user_sauna_path(@sauna), class: "btn btn-primary" %>
      <%= link_to "削除", user_sauna_path(@sauna), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger"%>
    <% end %>
  </div>
</div>