<%= form_with model: @food, url: user_sauna_food_path(@food), local: true do |f| %>

<%= f.label :images, "写真"%>
<span class="label.label-danger">
<%= f.file_field :image, class: 'img_field', style: 'display:none;'%>
<%= attachment_image_tag @food, :image, size: "300x300",fallback: 'no-image.png', onClick: "$('.img_field').click()", class:
  'center-block img-thumbnail img-responsive img_prev'%></span>

<%= f.label :name, "サウナ飯名" %>
<span class="label.label-danger">
  <%= f.text_field :name, placeholder: "例) チーズたっぷりボロネーゼ", autofocus: true, class: "form-control"%></span>

<%= f.label :introduction, "紹介文・感想"%>
<span class="label.label-danger">
  <%= f.text_area :introduction, placeholder: "例) 500円から飲めるグラスワインと、野菜のピクルス、お店の推しパスタ「チーズたっぷりボロネーゼ900円」で一杯。カウンターの立ち飲みスペースで食べるパスタがこれまたたまらないのです。サウナ終わりに求めてしまう塩気を満たすには、生ハムの盛り合わせもGOODです。", class: "form-control", style: "height: 200px;"%></span>

<%= f.label :tel, "電話番号" %>
<span class="label.label-danger">
  <%= f.text_field :tel, placeholder: "例) 08084251740", autofocus: true, class: "form-control"%></span>

<%= f.label :home_page, "ホームページ" %>
<span class="label.label-danger">
  <%= f.text_field :tel, placeholder: "例)https://saunatotonou-ikitai.com/ ", autofocus: true, class: "form-control"%></span>

<%= f.submit "保存", class: "btn btn-success btn-lg btn-block" %>

<% end %>