<div class="container">
	<header class="navbar">
		<nav class="nav navbar-nav navbar-left">
			<%= link_to root_path do %>
			<%= image_tag "sauna.jpg", :size =>'180x70' %>
			<% end %>
		</nav>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
				<li><%= link_to 'マイページ', user_user_path(current_user) %></li>
				<li><%= link_to '商品新規登録', new_user_sauna_path %></li>
				<li><%= link_to '通知一覧', user_notifications_path %></li>

				
				<% else %>
				<% if admin_signed_in? %>
				<li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
				<li><%= link_to '会員一覧', admin_users_path %></li>
				<% else %>
				<li> <%= link_to 'About', about_path %></li>
				<li><%= link_to '新規登録', new_user_registration_path %></li>
				<li><%= link_to 'ログイン', new_user_session_path %></li>
				<li><%= link_to '管理者ログイン', new_admin_session_path %></li>

				<% end %>
				<% end %>
			</ul>
		</nav>
	</header>
</div>